:root {
	--nav-icon-display: inline-block;
	--px: max(0.06vw, 0.06vh);
	--header-height: calc(var(--px) * 100);
	--navigation-width: 24vw;
	--foreground: rgb(255, 255, 255);
	--background: rgb(20, 20, 40);
	--background-2: rgb(50, 50, 100);
	--highlight: rgb(100, 100, 255);
	--title: rgb(200, 100, 50);
	--highlight-2: rgb(255, 150, 150);
	--subsection-indent: calc(10 * var(--px));
	--warning: rgb(255, 20, 20);
	--monospace: 'Consolas', monospace;
	/* --foreground: rgb(20, 20, 20);
	--background: rgb(255, 255, 255);
	--highlight: rgb(100, 100, 255); */
}

@media only screen and (max-width: 600px) {
	:root {
		--nav-icon-display: none;
	}
}

* {
	font-size: calc(15 * var(--px));
	font-weight: normal;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Open Sans', Arial, sans-serif;
	color: var(--foreground);
	image-rendering: pixelated;
	tab-size: 1.4em;
}
#navigation a {
	text-decoration: none;
	color: var(--highlight);
	display: inline-block;
}
#wrapper {
	background: var(--background);
	position: absolute;
	left: 0;
	top: 0;
	width: 100vw;
	height: 100vh;
}
#header {
	position: absolute;
	width: 100vw;
	height: var(--header-height);
	left: 0;
	top: 0;
	padding-left: 0.4em;
	display: flex;
	flex-direction: row;
	align-items: center;
	color: var(--highlight);
	font-weight: bold;
	font-size: 200%;
	border-bottom: var(--px) var(--highlight) solid;
}
#header .links {
	margin-left: auto;
	padding: 1em;
}
#header .links a {
	padding: 1em 2.5em;
	margin: 0.5em;
	background: var(--highlight);
	text-decoration: none;
	border-radius: 0.2em;
}
#header .icon {
	width: 4em !important;
	height: 4em !important;
}
#navigation {
	width: var(--navigation-width);
	height: calc(100vh - var(--header-height));
	overflow: auto;
	position: absolute;
	left: 0;
	top: var(--header-height);
	padding: 1.4em;
}
::-webkit-scrollbar {
	width: min(calc(30 * var(--px)), 15px);
}
::-webkit-scrollbar-track {
	background: var(--background-2);
}
::-webkit-scrollbar-thumb {
	background: var(--background);
	border: var(--px) var(--background-2) solid;
}
.nav-section-header, .nav-leaf {
	display: flex;
	margin: 0.15em;
	flex-direction: row;
	align-items: center;
}
.nav-section-header::before, .nav-leaf::before {
	content: "";
	display: inline-block;
	width: 1.3em;
	height: 1.3em;
	background-size: cover;
	margin-right: 0.4em;
}
.nav-section-header::before {
	display: var(--nav-icon-display);
	background-image: url(../Images/Note.png);
}
.nav-leaf::before {
	display: var(--nav-icon-display);
	background-image: url(../Images/Class.png);
}
.nav-section {
	padding: 0.3em;
}
.nav-section-list {
	list-style: none;
}
.nav-section-item {
	margin-left: 0.6em;
	padding-left: 0.6em;
	border-left: var(--px) var(--foreground) solid;
}
#content {
	position: absolute;
	left: var(--navigation-width);
	top: var(--header-height);
	width: calc(100vw - var(--navigation-width));
	height: calc(100vh - var(--header-height));
	overflow: auto;
	padding: 2em;
}
#content a {
	color: var(--highlight-2);
	text-decoration: none;
	padding: 0;
}
#content .code a, #content .code-snippet a {
	color: var(--background-2);
	font: var(--monospace);
}
.type {
	color: var(--highlight);
	font-family: var(--monospace);
	font-size: 90%;
	border-left: var(--px) var(--highlight) solid;
	margin-left: 0.3em;
	padding-right: 0.3em;
}
.readonly {
	color: var(--warning);
	margin-left: 0.3em;
	border-left: var(--px) var(--warning) solid;
	cursor: not-allowed;
}
.async {
	color: var(--warning);
	margin-left: 0.3em;
	border-left: var(--px) var(--warning) solid;
	cursor: wait;
}
.title {
	color: var(--title);
	font-weight: bold;
	font-size: 150%;
	display: flex;
	flex-direction: row;
	align-items: center;	
	border-bottom: var(--px) var(--title) solid;
}
#content * {
	/* background: rgba(255, 255, 255, 0.1); */
	/* border: 1px white dotted; */
	padding: 0.3em;
}
.code-snippet, .code {
	font-family: var(--monospace);
	background: gray;
	color: white;
	padding: 0.2em;
	display: inline-block;
	border-radius: 0.15em;
	margin: 0.1em;
	white-space: pre;
}
.code-snippet {
	padding: 0.2em !important;
}
.code {
	display: block;
}
.code, .code * {
	background: lightgray;
	color: black;
	font-family: monospace;
}
.name {
	font-family: var(--monospace);
}
.description {
	/* border-left: 1px var(--background-2) solid; */
	padding-left: 1em !important;
}
.signature, .signature * {
	font-size: 100%;
	font-family: var(--monospace);
}
.value .title {
	border-bottom: none;
	font-size: 120%;
	padding-bottom: 0 !important;
}
.value {
	padding-left: 1em !important;
	box-shadow: calc(-2 * var(--px)) calc(-2 * var(--px)) 0 var(--background-2);
	border-radius: 0.3em;
	margin: 1em 0;
}
.icon {
	width: 2.6em;
	height: 2.6em;
	/* padding: 0 !important; */
}
table td {
	border-right: var(--px) var(--highlight) solid;
	border-bottom: var(--px) var(--highlight) solid;
	text-align: center;
}