@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

@font-face {
	font-family: "Cascadia Code";
	src: url(./CascadiaCode.ttf);
}

:root {
	--text-color: white;
	--accent-1: #c86432;
	--accent-2: #6464ff;
	--accent-3: rgb(50, 50, 100);
	--background: rgb(5, 5, 15);
	--text-font: "Open Sans", "Arial", sans-serif;
	--code-font: "Cascadia Code", Consolas, monospace;
}

@media (prefers-color-scheme: light) {
	:root {
		--text-color: black;
		--accent-1: rgb(78, 45, 28);
		--accent-2: rgb(80, 80, 160);
		--accent-3: #c8c8e4;
		--background: rgb(255, 255, 255);
	}
}

html {
	font-size: 13px;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: var(--code-font);
	font-size: 1em;
}

::-webkit-scrollbar {
	background: var(--background);
	border: 1px var(--accent-3) solid;
}

::-webkit-scrollbar-thumb {
	background: var(--accent-3);
}

::-webkit-scrollbar-corner {
	background: var(--background);
	border: 1px var(--accent-3) solid;
	border-right: none;
	border-bottom: none;
}